<!DOCTYPE html>
<html lang="en">

<head>
  <title>Eat-Da-Burger</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>
  <div class="container" id="bodyContainer">

    <div class="jumbotron">
      <div class="row">
        <div>
          <a><img src="/assets/img/burger.png" id="img"></a>
        </div>
      </div>
      <div class="row">
        <div>
          <h1>Eat-Da-Burger!</h1>
        </div>
      </div>
    </div>

{{!-- Add New Burger --}}
    <div id="addForm">
      <h2>Add a burger</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="ca" id="burgerName">Burger Name: </label>
          <input type="text" id="ca" name="name">
          <button type="submit" class="btn btn-info" id="submitBtn">Add Burger</button>
        </div>
      </form>
    </div>

    <br>

{{!-- Contains Uneaten and Eaten Burger List --}}
    {{{ body }}}

{{!-- API and Github Links --}}
    <footer class="footer">
      <div class="container">
        <p><a href="/api/burgers">API Burger List</a> |
          <a href="https://github.com/rgmcrary/burger">GitHub Repo</a>
        </p>
      </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <script src="/assets/js/burgers.js"></script>
</body>

</html>